.row {
    border: 10px solid green;

}

.col-md-8 {
    border: 10px solid purple;
}

.col-md-4 {
    border: 10px solid red;
}

.col-md-6 {
    border: 10px solid yellow;
}

.col-sm-12 {
    border: 10px solid blue;
}

.footer {
    
}
